@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">
                <i class="fas fa-user"></i> Hello @User.Identity?.Name!
            </span>
        </li>
        <li class="nav-item">
            <form asp-controller="Home" asp-action="AdminLogout" method="post" id="logoutForm">
                <button type="submit" class="nav-link btn btn-link text-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" href="@Url.Action("AdminLogin", "Home")">
                <i class="fas fa-sign-in-alt"></i> Admin Login
            </a>
        </li>
    }
</ul>