@model List<EmailTemplateViewModel>
@{
    ViewData["Title"] = "Email Templates";
}

<div class="container-fluid">
    <h1>Email Templates</h1>
    <p>Manage email templates for admin communications.</p>
</div>